@import './auth.css';
@import './layout.css';
@import './notfound.css';
@import './dashboard.css';
@import './schedule.css';
@import './history.css';
@import './settings.css';
@import './profile.css';
@import './chatbot.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
